.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    min-height: 60vh;
}

.btn-edit-delete {
    display: inline-block;
    margin: 1px;
}